* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

.wrapper {
	display: grid;
	place-items: center;
	height: 100vh;
}

.control-zone {
	width: 400px;
}

.game-zone {
	width: 100%;
	display: grid;
	height: 100vh;
	gap: 0.5rem;
	padding: 1rem;
}

.game {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	position: relative;
}

.winner::before {
	content: attr(winner);
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #00000090;
	display: grid;
	place-items: center;
	font-size: 30px;
	color: white;
	font-weight: bold;
	z-index: 1;
}

.cell {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 50px;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	font-family: Gothic, Futura, sans-serif;
}

.cell:focus {
	background: #ddd;
	outline: none;
}

.btn {
	margin-top: 1rem;
}
