* {
	margin: 0;
}

:root {
	--primary: #efed40;
	--light: #ffffff;
	--dark: #6e10e1;
}

body {
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
}
.main {
	width: 360px;
	height: 745px;
	background-color: var(--primary);
	border-radius: 10px;
	padding: 24px;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.cards {
	width: 312px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.card {
	width: 312px;
	height: 207px;
	background: var(--light);
	border-radius: 20px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card .top .left {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}
.card .top .left .ellipse {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #40a737;
}

.card .persons {
	display: flex;
}
.card .persons .avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg);
	color: var(--light);
	border: 1px solid;
	font-family: "Poppins";
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	height: 29px;
	width: 29px;
	line-height: 18px;
	border-radius: 50%;
}
