body {
	margin: 50px;
}

.boxes {
	width: 600px;
	height: 600px;
	display: flex;
	border: 2px solid;
	flex-direction: column;
}

.row {
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box {
	width: 200px;
	height: 200px;
	background-color: #000;
}

.row:nth-child(2) {
	justify-content: center;
}

.line {
	width: 400px;
	height: 2px;
	background-color: #000;
	position: relative;
}

.line::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	rotate: 90deg;
}
