:root {
	--light-gray: #10101030;
	--light: #ffffff;
}

* {
	box-sizing: border-box;
	font-family: Futura, "Century Gothic";
}
body {
	margin: 0;
}

.container {
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.sudoku {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.sudoku .board {
	width: 200px;
	height: 200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: var(--light-gray);
	gap: 2px;
	padding: 2px;
}

.board .cell {
	display: grid;
	place-items: center;
	background-color: var(--light);
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.03s linear;
}

.board .cell:active {
	transform: scale(0.95);
}

.histories {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
