* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}

h1 {
	font-size: 80px;
}

.boxes {
	width: 800px;
	height: 800px;
	display: grid;
	grid-template: 150px 150px 150px 150px / 150px 150px 150px 150px;
	place-items: end;
	justify-content: center;
	align-content: center;
}

.box {
	width: 100px;
	height: 100px;
	background-color: #efed40;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: #000;
}
