.top-bar {
	@include flex($justify: space-between);
	border-bottom: 2px solid var(--light-gray);

	.brand {
		@include flex(center, $gap: 35px);

		.title {
			@include font($size: 18px);
			color: var(--dark-gray);
		}
	}

	.menu {
		list-style-type: none;
		@include flex(center, $gap: 25px);

		&-item {
			@include font($lHeight: 25px);
			@include flex(center, center);
		}

		&-link {
			color: var(--text-gray);
			text-decoration: none;
		}
	}

	.search {
		@include flex($align: center);
	}
	.settings {
		@include flex();
	}
}
