body {
	background: #e3eef8;
}
.header {
	padding: 40px 170px;
}

/* NAVBAR STYLES */
.navbar {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .left {
	display: flex;
	align-items: center;
	gap: 50px;
}

.navbar .links {
	display: flex;
	list-style-type: none;
	gap: 30px;
	margin: 0;
	padding: 0;
}

.navbar .links .link {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	letter-spacing: -0.4px;

	color: #1f1f1f;
}

.navbar .start-btn {
	border: 2px solid #258aff;
	border-radius: 3px;
	padding: 10px 30px;
	background-color: transparent;
	cursor: pointer;
}

/* HERO STYLES */

.hero {
	margin-top: 200px;
	width: 614px;
	margin: 200px auto;
}

.hero .top-title {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 2.8125px;
	text-transform: uppercase;

	color: #666666;
}

.hero .main-title {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 70px;
	/* or 100% */

	text-align: center;
	letter-spacing: -4px;

	color: #1f1f1f;
	margin: 20px 0;
}

.hero .description {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 36px;
	/* or 171% */

	text-align: center;
	letter-spacing: -0.4px;

	color: #666666;
}

.hero .form {
	display: flex;
	justify-content: center;
	gap: 9px;
}

.hero .form input {
	background: #ffffff;
	border-radius: 3px;
	padding: 20px 0 20px 24px;
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.9px;
	border: none;
	outline: none;

	color: #878b90;
}
.hero .form button {
	background: #fc593b;
	border-radius: 5px;
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.9px;

	color: #ffffff;
	padding: 20px 40px;
	border: none;
	cursor: pointer;
}

.hero .info {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.32381px;

	color: #878b90;
}
