body {
	margin: 0;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #efed40;
}

* {
	font-family: Roboto;
}

h1 {
	font-size: 80px;
	font-weight: 300;
	font-family: Roboto;
	font-style: italic;
}
