.element {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	background-color: red;
	animation-name: app;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-iteration-count: infinite;
}

@keyframes app {
	0% {
		transform: scale(0.5);
		background-color: red;
		border-radius: 100%;
	}
	50% {
		background-color: green;
	}
	100% {
		transform: scale(1.5);
		background-color: yellow;
	}
}

body,
html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}
