@use "./utils";

.boxes {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(6, 1fr);

	@include utils.media("lg") {
		grid-template-columns: repeat(3, 1fr);
	}
	// @include utils.responsive(768px) {
	// 	grid-template-columns: repeat(2, 1fr);
	// }
	// @include utils.responsive(576px) {
	// 	grid-template-columns: repeat(1, 1fr);
	// }
}

.box {
	// width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s linear all;
	border: 2px dashed;
	@media (max-width: 920px) {
		background-color: black;
		color: #fff;
	}
}
