@import "./constants.css";
* {
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center;
	height: 100vh;
}

.d-none {
	display: none !important;
}

.quiz {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* GAME ZONE */
.order {
	position: absolute;
	left: 2%;
	top: 2%;
	font-size: 44px;
	padding: 1rem;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--bold);
	color: var(--dark);
	border: 0.5px solid var(--borderColor);
}

.timer {
	width: 120px;
	height: 120px;
	background: var(--darkPink);
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 2%;
	right: 2%;
	font-size: 45px;
	font-family: bold-josefina;
	color: var(--light);
}

/* Start Questions container */
.quiz_content {
	width: 60%;
	height: 80px;
	background: var(--lightPrimary);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.quiz_content span {
	padding: 0.5rem;
	background: red;
}

.quiz_content #number_1,
.quiz_content #number_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	min-width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	background: var(--lightPink);
	color: var(--light);
	font-size: 35px;
	font-family: var(--medium);
}

.quiz_content #operation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 8px;
	background: var(--green);
	color: var(--dark);
	font-size: 40px;
	font-family: var(--bold);
}

.quiz_answers {
	width: 60%;
	height: 300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
}

.quiz_answers .answer_box {
	display: grid;
	place-items: center;
	font-size: 40px;
	font-weight: bold;
	border: 1px solid;
	cursor: pointer;
	transition: 0.03s transform linear;
}

.quiz_answers .answer_box.SUCCESS {
	background-color: var(--green);
}
.quiz_answers .answer_box.FAIL {
	background-color: var(--red);
}

.quiz_answers .answer_box:active {
	transform: scale(0.98);
}

.points {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 2%;
	width: auto;
	height: 70px;
	padding: 1rem;
	margin-left: 2rem;
	display: flex;
	border-radius: 5px;
	border: 0.5px solid var(--borderColor);
}

.points .point {
	width: 70px;
	height: 70px;
	background-color: var(--dark);
	list-style: none;
	border-radius: 35px;
	margin-right: 0.5rem;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 30px;
}

.points .point-SUCCESS {
	background-color: var(--green);
}

.points .point-FAIL {
	background-color: var(--red);
}

.points .point-TIMED {
	background-color: var(--dark);
}

/* RESULT ZONE */

.result-zone {
	width: max-content;
	height: max-content;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.title {
	margin: 0;
}
.scores {
	width: 400px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.score {
	display: grid;
	place-items: center;
	font-size: 35px;
	color: var(--light);
}

.score--FAIL {
	background-color: var(--red);
}
.score--TIMED {
	background-color: var(--dark);
}
.score--SUCCESS {
	background-color: var(--green);
}
