body {
	margin: 0;
	height: 100vh;
	user-select: none;
	background-color: #000;
}

.container {
	display: grid;
	height: 100%;
	padding: 10rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	box-sizing: border-box;
	place-items: center;
}

.hex {
	width: 70%;
	height: 70%;
	background-color: #efed40;
	border-radius: 10px;
	display: grid;
	place-items: center;
	font-size: 40px;
	cursor: pointer;
	transition: 0.02s linear all;
	color: #fff;
	border: 2px solid;
}

.hex:active {
	transform: scale(0.96);
}

.title {
	position: absolute;
	top: 3rem;
	left: 50%;
	translate: -50% -50%;
	color: #fff;
}
.btn {
	position: absolute;
	bottom: -1rem;
	left: 50%;
	translate: -50% -50%;

	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 1rem 2rem;
	font-size: 40px;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	cursor: pointer;
}

.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
