:root {
	--bg: black;
	--color: white;
}

body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center;
}
/*
ul {
	list-style-type: none;
	font-size: 40px;
	background-color: var(--bg);
}

a {
	font-size: 20px;
	text-decoration: none;
	color: var(--color);
}

ul li {
	color: var(--color);
} */

.boxes {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: absolute;
}

.box {
	width: 180px;
	height: 180px;
	font-size: 40px;
	text-align: center;
	line-height: 180px;
	color: #000;
	background-color: var(--bg);
}

/* named Colors */
/* red, green, blue, yellow */

/* .box:first-child {
	background-color: rgb(0, 0, 200) !important;
} */
/* .box:first-child {
	background-color: #00f !important;
}

.box:first-child:hover {
	transition: 0.3s linear all;
	background-color: rgba(0, 0, 200, 0.5) !important;
	color: red;
} */

.box {
	width: 700px;
	height: 400px;
	background-image: linear-gradient(to right, yellow, red, blue);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 80px;
	color: #fff;
}
