/* #paragraph-1,
#paragraph-2 {
	background-color: blue !important;
	color: yellow !important;
} */

/* li {
	background-color: red;
} */
/*
.box {
	background-color: yellow;
	color: black;
}

.item {
	background-color: red;
	color: #fff;
} */
/*
li[guruh] {
	background-color: yellow;
} */

/* p,
li {
	background-color: red;
	color: white;
} */
* {
	background-color: red;
	color: white;
}
