/* body * {
	color: blue;
}

div {
	color: black;
}

ul {
	color: black;
} */

/* ul ~ p {
	color: blue;
} */
/*
p:hover {
	background-color: red;
} */

li:hover + p {
	background-color: red;
}
p:hover + li {
	background-color: yellow;
}
